		@font-face {
			font-family: modernBold;
			src: url(../fonts/Erasdemi.ttf);
		}
		@font-face {
			font-family: modernRegular;
			src: url(../fonts/Eraslght.ttf);
		}
		body {
			font-family: modernRegular;
			background: rgb(26, 26, 26);
		}
		h1 {
			color: rgb(200, 200, 200);
			text-align: center;
			font-family: modernBold;
			text-size: 115%;
		} /* Tag Redefinition */
		b {
			color: blue;
		} /* Tag Redefinition */
		dt {
			font-size: 130%;
			font-weight: bold;
		}
		footer {
			color: white;
			text-align: center;
		}
		.linking:link {
			color: black;
			text-decoration: none;
		}
		.linking:visited {
			color: grey;
			text-decoration: none;
		}
		.linking:hover {
			color: grey;
			text-decoration: none;
		}
		.linking:active {
			color: white;
			text-decoration: none;
		}
		.greenBold {
			color: green;
			font-weight: bold;
			font-size: 100%;
		} /* Class Definition */
		#greenSmall {
			color: green;
			font-weight: normal;
			font-size: 120%;
		} /* ID Definition */
		#headerwrap {
			display: block;
			position: relative;
			width: 100%;
			height: 80px;
			margin: 0 auto;
			/*pointer-events: none;*/
		}
		#header{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 80px;
			margin: 0 auto;
			background: url('../pictures/headImage.jpg');
		}
		#mainBox {
			width:90%;
			height: 1000px;
			margin: 30px auto;
			border:5px solid gray;
			padding: 10px;
			background-color:rgb(225, 225, 225);
		}
		#titleLinks {
			text-decorations: none;
			text-align: center;
			font-weight: bold;
		}